<p>fashionladies works!</p>
<div class="col-md-12">
    <div class="card">
        <img class="card-img-top"
            src="https://rukminim1.flixcart.com/image/832/832/kg15ocw0-0/sari/r/a/m/free-aksara-firozi-navy-blue-shop-well-unstitched-original-imafwcxzabkyhgdh.jpeg?q=70"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Saree</h5>
            <p class="card-text">FINE WEAR 
                Woven Kanjivaram Cotton Silk Saree  (Multicolor)
                <br>
                ₹731
            </p>
            <a routerLink="camera" class="btn btn-success">Buy</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://rukminim1.flixcart.com/image/832/832/xif0q/kurta/l/t/e/s-b19-apsara-maroon-youthnic-original-imaghmrzfzabrqmn.jpeg?q=70"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Kurta</h5>
            <p class="card-text">Youthnic 
                Women Chikan Embroidery Georgette Anarkali Kurta  (Black)
                <br>
                ₹999
            </p>
            <a routerLink="camera" class="btn btn-success">Buy</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top"
            src="https://rukminim1.flixcart.com/image/832/832/kxz0pe80/lehenga-choli/x/b/b/free-full-sleeve-fl-105-jsitaliya-original-imagabchm8zvzzff.jpeg?q=70"
            alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Lehenga</h5>
            <p class="card-text">JSItaliya 
                Self Design Semi Stitched Lehenga Choli  (Gold)
                <br>
                ₹2999
            </p>
            <a routerLink="camera" class="btn btn-success">Buy</a>
        </div>
    </div>
    
</div>