<p>fashiongents works!</p>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <img class="card-img-top"
                src="https://rukminim1.flixcart.com/image/832/832/xif0q/t-shirt/w/k/d/m-ktb-129-wpk-rnhs-wt-killer-original-imaggjffpzqcbzzz.jpeg?q=70"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">T-Shirt</h5>
                <p class="card-text">KILLER
                    SMU T-SHIRTS Men Printed Round Neck White T-Shirt
                    <br>
                    ₹599
                </p>
                <a routerLink="fashiongents" class="btn btn-success">Buy</a>
                <!-- <a routerLink="/fashiondet" class="btn btn-primary">Back To Product</a> -->

            </div>
        </div>
        <!-- </div> -->

        <!-- <div class="row">
        <div class="col-md-6"> -->
        <div class="card">
            <img class="card-img-top"
                src="https://rukminim1.flixcart.com/image/832/832/kf75fgw0-0/shirt/f/q/4/40-rmsz08254-b4-raymond-original-imafvpbehf6chzme.jpeg?q=70"
                alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Shirt</h5>
                <p class="card-text">
                    Raymond
                    Men Slim Fit Solid Formal Shirt<br>

                    ₹769 </p>
                <a routerLink="camera" class="btn btn-success">Buy</a>
                <!-- <a class="m" routerLink="/fashiondet" class="btn btn-primary">Back</a> -->

            </div>
        </div>
            <!-- </div>
        </div> -->

            <!-- <div class="row">
            <div class="col-md-6"> -->
            <div class="card">
                <img class="card-img-top"
                    src="https://rukminim1.flixcart.com/image/832/832/km2clu80/shirt/x/6/n/s-hlsh012509-highlander-original-imagffyzf9ewdfpb.jpeg?q=70"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Casual-Shirt</h5>
                    <p class="card-text">HIGHLANDER
                        Men Slim Fit Printed Cut Away Collar Casual Shirt
                        <br>
                        ₹346
                    </p>
                    <a routerLink="camera" class="btn btn-success">Buy</a>
                    <!-- <a  routerLink="/fashiondet" class="btn btn-primary">Back</a> -->

                </div>
            </div>
                <!-- </div>
            </div> -->

                <!-- <div class="row">
                <div class="col-md-6"> -->
                <div class="card">
                    <img class="card-img-top"
                        src="https://rukminim1.flixcart.com/image/832/832/xif0q/jacket/c/9/u/xl-6411312-roadster-original-imafeqh4a7adszum-bb.jpeg?q=70"
                        alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jackets</h5>
                        <p class="card-text">Roadster
                            Men Solid Casual Jacket
                            <br>₹949
                        </p>
                        <a routerLink="camera" class="btn btn-success">Buy</a>
                        <!-- <a  routerLink="/fashiondet" class="btn btn-primary">Back</a> -->

                    </div>
                </div>
            
        
    </div>      
</div>