.log-op{
    color:white;
  }
  button{
    background-color: rgb(220, 129, 129);
    
  }
  .bg{
margin-left: 20px;
padding: 20px;
  }
  #co{
 margin-top: 20px;
background-color: rgb(225, 191, 141);
  }