<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div> -->

<!-- <img [src]="imageurl"> -->
<!-- <p>{{count}}</p> -->
<!-- <div><button (click)="onclickbutton()">Click Here</button></div> -->

<!-- <input [(ngModel)]="username">{{username}}   -->


<!-- <ol>
  <div><li> <input [(ngModel)]="username">{{username}} </li> </div>
  
  <div><li><p> Username: {{username}}</p></li></div>
  <div><li><button id="space" [disabled]="!username">Click Me After Got Text </button></li></div>
  <div>
    
  <li><button id="space" type="reset" (click)="ontextcheck()" >Clear Data</button> </li>
</div>
</ol>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-danger">Danger</button>
<app-card [title]="posts[0].title" [content]="posts[0].content"></app-card> 
<app-card [title]="posts[1].title" [content]="posts[1].content"></app-card>
<app-card></app-card> -->
<!-- <app-card (fromChild)="onParent($event)"></app-card> -->
<!-- <div class="center">   -->
 <!-- <div class="shift"> <app-child-to-parent (fromChild)="onParent($event)"></app-child-to-parent> -->

  <!-- <app-ng-for-demo></app-ng-for-demo> -->
  <!-- <app-ng-if></app-ng-if> -->
<!-- <p> Emp Name: {{name}}</p>
<p> Emp Id: {{id}}</p>
<p> Emp Company: {{comp}}</p></div></div> -->

<!-- <app-ng-for></app-ng-for> -->

<!-- <app-passwordgenerator></app-passwordgenerator> -->

<!-- <h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>


<router-outlet></router-outlet> -->
<!-- <app-ng-if-practice></app-ng-if-practice> -->

<!-- <app-directiveassignment></app-directiveassignment> -->

<!-- 
<app-ngstyle></app-ngstyle>

<app-ngclass></app-ngclass> -->

<!-- <app-ngswitch></app-ngswitch> -->
<!-- <app-practice></app-practice> -->
<!-- <p appCustom> Show This $ and Change Css Prop </p> -->
<!-- 
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<mat-slider>
  <input matSliderThumb>
</mat-slider> -->
<!-- <app-templateforms></app-templateforms> -->
<!-- <app-templateform-practice></app-templateform-practice> -->

<!-- <app-tempformassignment></app-tempformassignment> -->
<!-- <app-assign-reactiveform></app-assign-reactiveform> -->

<!-- <app-new-base></app-new-base> -->
<!-- <app-reactiveform></app-reactiveform> -->

<!-- <app-assignment-reactive-form></app-assignment-reactive-form> -->
<!-- 
<ng-container *ngFor="let product of products">
  Product Name : <strong class="text-success">{{product.name}}</strong>
  Product Id : <strong class="text-success">{{product.id}}</strong>
  <br>
  
  </ng-container>
  <ng-container *ngFor="let u of users">
<strong class="text-success">{{u.id}}</strong>
<strong class="text-success">{{u.name}}</strong>
<strong>{{u.email}}</strong>
</ng-container>
<br>
<strong class="text-success">{{ob1.id}}</strong> {{ob1.name}} -->


<!-- <ul>
  <li *ngFor=" let s of set" >
    {{s.id}}
    {{s.name}}
    {{s.email}}
    {{s.address}}
    {{s.phone}}
    {{s.website}}
    {{s.company}}
  </li>
</ul> -->

<!-- <div class="justify-content-center">
  <div class="col-md-8">
      <label for="search"><h3>Search By User Name :</h3></label>
      <input type="text" name="" class="form-control" [(ngModel)]="namesearch" placeholder="enter user name">
  </div><br>
<table class="table">
  <th>Id</th>
  <th>Name</th>
  <th>Email</th>
  <th>address</th>
  <th>Phone</th>
  <th>Website</th>
  <th>Company</th>

  <tr *ngFor=" let s of set | search:namesearch">
<td>{{s.id}}</td>
    <td>{{s.name}}</td>
    <td>{{s.email}}</td>
    <td>{{s.address.street}}-{{s.address.zipcode}}</td>
    <td>{{s.phone}}</td>
    <td>{{s.website}}</td>
    <td>{{s.company.name}}{{s.company.catchPhrase}}</td>

  </tr>
</table> -->

<!-- <app-pipeexample></app-pipeexample> -->
<!-- <app-product-filter></app-product-filter> -->

<!-- <app-comp1></app-comp1> -->



<!-- <div class="row">
  <div class="col-md-6">
    <div>
      <app-c1></app-c1>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <app-c2></app-c2>
    </div>
  </div>
  <div class="col-md-6">
    <div>
      <app-c3></app-c3>
    </div>
  </div>

<div class="col-md-6">
  <div>
    <app-c4></app-c4>
  </div>
</div>
</div> -->


<!-- <app-wikipedia></app-wikipedia> -->

<!-- <br>
<app-search-bar (submitted)="onTerm($event)"></app-search-bar>
<app-page-list [pages]="pages" [isLoading]="isLoading"></app-page-list> -->
<!-- <router-outlet></router-outlet> -->


<!-- <div>
<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-items"><a routerLinkActive="active" routerLink="/home" class="nav-link">Home</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/aboutus" class="nav-link">About us</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/contactus" class="nav-link">Contact us</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/product" class="nav-link">Product</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/post" class="nav-link">Post</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/users" class="nav-link">Users</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/login" class="nav-link">Login</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/orders" class="nav-link">Orders</a></li>
      <li class="nav-items"><a routerLinkActive="active" routerLink="/fashion" class="nav-link">Fashion</a></li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/customer" class="nav-link">Cutomer</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/admin" class="nav-link">Admin</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/todo" class="nav-link">ToDo</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/wikipedia" class="nav-link">Wikipedia</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/hooks" class="nav-link">Hooks</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/adduser" class="nav-link">Adduser</a> </li>
      <li class="nav-item"> <a  routerLinkActive="active" routerLink="/rxjs" class="nav-link">RXJS</a> </li>

    </ul>

  </nav>
</header>
</div> -->

<!-- <button class="btn btn-danger" (click)="onDestroy()">onDestroy</button><br>{{myObservable | async}}


<input type="text" placeholder="Enter value" (blur)="handleData($event)">
<button class="btn btn-danger" (click)="onSub()">Change from Parent</button><br>
<app-hooks [parentData]="data">
  <h2 #child>
    This content comes from Parent To Child
  </h2>
  <h2 #child2>This is Heading 2 From Parent</h2>
  <h3 #child3>This is Heading 3 From Parent</h3>
  <h4 #child4>This is Heading 4 From Parent</h4>
  <h5 #child5>This is Heading 5 From Parent</h5>
  <h6 #child6>This is Heading 6 From Parent</h6>

</app-hooks> -->

<!-- <router-outlet></router-outlet> -->

<app-loginscreen></app-loginscreen>