img{
    width: 250px;
    height:350px;
    border-radius: 50%;
}
.column {
    margin: 50px;
    float: left;
    width: 20%;
    padding: 5px;
  }
  button{

    align-items: center;
margin: 30px;  }