<h1 appCustom>Fashiondet Works!</h1>
<br><div class="column">
<img src="https://i.pinimg.com/736x/52/e6/3b/52e63b0f573aabbd80c070a89fe0e3e1.jpg">
<br>
<button class="btn btn-primary" (click)="onFashionGents()">Go to Fashion For Gents </button><br>
</div>
<br>
<div class="column">
<img src="https://sslimages.shoppersstop.com/sys-master/images/hb5/h42/28675873538078/A22J0488_MAROON_alt1.jpg_2000Wx3000H">
<br>
<button class="btn btn-primary" (click)="onFashionL()">Go to Fashion For Ladies </button>
</div>